body {
    background-image: url("../images/bg.jpeg");
    background-repeat: no-repeat;
    height: 600px;

}

#navbanner{
    position: fixed;
    width: 100vw;
    color: #ffffff;
}

h1 {
    text-align: center;
    padding-top: 120px;
    color:white;
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;

}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%; 
}

