{% extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block styles %}
    {% bootstrap_css%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div style="background-image: url(https://images.pexels.com/photos/396303/pexels-photo-396303.jpeg?auto=compress&cs=tinysrgb&h=350);background-repeat:no-repeat;height: 600px;background-size: cover; width: 100vw;">
     <h1 style="text-align: center; padding-top: 50px; color: white; font-size: 60px;">Welcome to the neighbourhood watch!</h1>

    <div class="wrapper" style="padding-top: 80px;text-align: center;">
    {% if user.is_authenticated %}

		<a href="{% url 'hoods:create' %}"><button class="btn btn-outline-light btn-lg">Create Hood</button></a>
		<a href="{% url 'posts:create' %}"><button class="btn btn-outline-light btn-lg">Create Business</button> </a>
		<a href="{% url 'hoods:all' %}"><button class="btn btn-outline-light btn-lg">Current Hoods</button></a>

    {% endif %}

    </div>

</div>

{% endblock %}