{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block styles %}
    {% bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <h1 style="text-align: center; padding-top: 50px;">Welcome to the neighbourhood watch!</h1>

    <div class="wrapper" style="padding-top: 80px;text-align: center;">
    {% if user.is_authenticated %}

		<a href="{% url 'hoods:create' %}"><button class="btn btn-outline-info btn-lg">Create Hood</button></a>
		<a href="{% url 'posts:create' %}"><button class="btn btn-outline-danger btn-lg">Create Business</button> </a>
		<a href="{% url 'hoods:all' %}"><button class="btn btn-outline-warning btn-lg">Current Hoods</button></a>

        <a href="{% url "home" %}" class="btn btn-outline-light btn-lg">View Business</a>
    {% endif %}

    </div>

{% endblock %}