{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <a class="navbar-brand mynav" href="{% url 'home' %}">Hoody</a>

    					<ul class="nav navbar-nav navbar-right">
    						{% if user.is_authenticated %}

                      <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Create Business</a></li>
                      <li><a href="{% url 'posts:all' %}" class="btn btn-simple">All Businesses</a></li>
                      <li><a href="{% url 'hoods:create' %}" class="btn btn-simple">Create Hood</a></li>
                      <li><a href="{% url 'accounts:logout' %}" class="btn btn-simple">Log out</a></li>
    						{% else %}

    						      <li><a href="{% url 'accounts:login' %}" class="btn btn-simple">Log in</a></li>
    						      <li><a href="{% url 'accounts:signup' %}" class="btn btn-simple">Sign up</a></li>
    						{% endif %}
    					</ul>



    			</div>
    		</nav>


  </div>
</nav>
{% endblock %}